
body 
{ 
  /*background-color: #f1f1f1;*/
  box-sizing: border-box;
  width: 100vw;
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 0; 
  margin: 0; 
  display:inline-block;
  font-family: 'Roboto Mono';
}
img { 
    padding: 0;
    margin: 0; 
} 

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

a {
  word-wrap: break-word;
}

#onboard-container,#completion-container{
  width: 100%;
  height: 100%;
  text-align: center;
}

#onboard-image-container,#completion-image-container{
  font-size: calc(48px + 32 * ((100vw - 300px) / (1000 - 300)));
}

#onboard-content-container,#completion-content-container{
  width: 90%;
  height: 75%;
  overflow-y: scroll;
  max-width: 90vw;
  background: #f2f2f2;
  position: absolute;
  margin: 5% 5% 0 5%;
}

#onboard-content,#completion-content{
  margin: 10%;
}

#onboard-button{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #f2f2f2;
  font-family: 'Roboto Mono';
  box-shadow: grey 3px 3px 3px;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  padding: 5px;
}

#canvas-container{
  display: flex;
  height: calc(var(--vh, 1vh) * 50);
  justify-content: center;
  /* align-items: center; */
  position: relative;
}

canvas { 
  /* border-radius: 10px;
  border: 3px solid black; */
  z-index: -1;
  opacity: 0;
}

#video{
  max-width: 90%;
  max-height: 90vw;
  width: calc(50vh * 0.90);;
  width: calc(var(--vh, 1vh) * 50 * 0.9);
  height: calc(50vh * 0.90);
  height: calc(var(--vh, 1vh) * 50 * 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  z-index: 0;
  border-radius: var(--vmin);
}

#video.flip{
  transform: rotateY(180deg);
  z-index: 0;
}

#video-overlay{
  position: absolute;
  max-width: 90%;
  max-height: 90vw;
  width: calc(50vh * 0.90);
  width: calc(var(--vh, 1vh) * 50 * 0.9);
  height: calc(50vh * 0.90);
  height: calc(var(--vh, 1vh) * 50 * 0.9);
  display: block;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: var(--vmin);
  box-sizing: border-box;
  transition: 200ms ease-out;
  /* transform: translate(-50%, -50%); */
}

#video-overlay.snap{
  background: white;
  transition: 50ms ease-out;
}

#canvas{
  position: absolute;
  z-index: -3;
}

#canvas-camera-change{
  position: absolute;
  left: 0rem;
  width: calc(var(--vmin) * 2);
  height: calc(var(--vmin) * 2);
  border-radius: var(--vmin);
}

#canvas-camera-flip{
  position: absolute;
  right: 0rem;
  width: calc(var(--vmin) * 2);
  height: calc(var(--vmin) * 2);
  border-radius: var(--vmin);
}

/* #login-container,#onboard-container{
  background-color: #ffe573;
  width: 100%;
  width: calc(var(--vw, 1vw) * 100);
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: block;
} */

#login-container,#onboard-container,#orientation-container,#loading-container,#completion-container{
background-color: #ffe573;
justify-content: center;
align-content: center;
flex-direction: column;
width: calc(var(--vw, 1vw) * 100);
height: calc(var(--vh, 1vh) * 100);
display: flex;
}

#completion-button{
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
  transform: translate(-50%, 0);
  background: #f2f2f2;
  font-family: 'Roboto Mono';
  box-shadow: grey 3px 3px 3px;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  padding: 5px;
}



#loading-bar-container{
  left: 10%;
  width: 80%;
  position: relative;
  display: inline-block;
  background: none;
  border-style: solid;
}

#loading-bar{
  width: 1%;
  height: 1.5rem;
  background-color: black;
}

#completion-container{
  z-index: 4;
}

#completion-image-container{
  text-align: center;
}


#orientation-container{
  position: absolute;
  z-index: 4;
}

#orientation-image-container{
  height: 30vh;
  width: 30vh;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}

#orientation-image{
  max-height: 100%;
  max-width: 100%;
}

#orientation-header,#orientation-content,#loading-header,#loading-content,#completion-header,#completion-content{
  text-align: center;
}


#capture-container{
  width: 100%;
  width: calc(var(--vw, 1vw) * 100);
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: block;
}

#capture-header-container{
  text-align: center;
  height: 15%;
}


#capture-header,#capture-instance-title{
  display: inline-block;
}

#capture-header{
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  margin: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#capture-instance-title{
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));

}

#capture-subheader{
  /* font-size: calc(10px + (30 - 8) * ((100vw - 300px) / (1600 - 300))); */
  font-size: calc(8px + (24 - 8) * ((100vh - 600px) / (1600 - 600)));
  width: 80%;
  margin: auto;
}

#evidence-container{
  height: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#evidence-box{
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: var(--vmin);
  background: #f2f2f2;
  width: 90%;
  max-width: calc(60vh * 0.9);
  max-width: calc(var(--vh, 1vh) * 60 * 0.9);
  margin: auto;
  transition: linear 300ms;
}

#evidence-box.highlight {
  background: #ffe573;
  box-shadow:grey 3px 3px 3px;
  transition: ease-out 300ms;
  transform: translate(0,-10%);
}

#evidence-header,#evidence-subheader{
  padding: 0 1rem 0 1rem;
}

#evidence-header{
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#evidence-subheader{
  font-size: calc(10px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.evidence-list-item-container{
  display: block;
  position: relative;
}

.evidence-list-item-nudge{
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transform: translate(50%,-50%);
  background: blue;
}

.evidence-list-item-nudge.h{
  opacity: 0;  
}


.evidence-list-item-title{
  font-size: calc(8px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#evidence-list-container{
  overflow-x: scroll;
}

#evidence-list{
  display: inline-flex;
  overflow-x: scroll;
  margin-block-start: 0;
  padding-inline-start: 1rem;
  list-style-type: none;
}

.evidence-list-item.noimage{
  margin: 5px;
  border-style: dashed;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  width: 100px;
  height: 100px;
  max-width: 8vh;
  max-width: calc(var(--vh, 1vh) * 8);
  max-height: 8vh;
  max-height: calc(var(--vh, 1vh) * 8);
  padding: 0px;
  box-shadow: none;
  border-radius: calc(var(--vmin) * 0.5);
  box-sizing: border-box;
  overflow: hidden;
}

.evidence-list-item{
  position: relative;
  margin: 5px;
  width: 100px;
  height: 100px;
  max-width: 8vh;
  max-width: calc(var(--vh, 1vh) * 8);
  max-height: 8vh;
  max-height: calc(var(--vh, 1vh) * 8);
  box-shadow: gray 2px 2px 2px;
  padding: 0px;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: calc(var(--vmin) * 0.5);
  transition: linear 300ms;
  box-sizing: border-box;
  overflow: hidden;
}

.evidence-list-item-image{
  max-height: 100%;
  max-width: 100%;
}


.evidence-list-item-title{
  text-align: center;
  margin: 0.25rem 0 0.25rem 0;
}


/* #capture-header{ */
  /* font-weight: bold;
  font-size: large; */
/* } */


#login-title-container{
  display: block;
  left: 50%;
  /* top: 30%; */
  position: relative;
  transform: translate(-50%, -50%);
  /* font-size: 4rem; */
  font-size: calc(40px + (30 - 8) * ((100vw - 300px) / (1000 - 300)));
  font-weight: bold;
  text-align: center;
}

#login-input.no-error {
  display: block;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  color: black;
  font-family: 'Roboto Mono';
  transition-duration: 300ms;
  transition: ease-out;
  text-align: center;
}

#login-input {
  display: block;
  left: 50%;
  position: relative;
  font-family: 'Roboto Mono';
  width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
  transform: translate(-50%, -50%);
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  background-color: indianred;
  color: white;
  margin-bottom: calc(16px + 22 * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}


/* #login-input.no-error{
  display: block;
  left: 50%;
  top: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  color: black;
  font-family: 'Roboto Mono';
  transition-duration: 300ms;
  transition: ease-out;
  text-align: center;
}

#login-input{
  display: block;
  left: 50%;
  top: 60%;
  position: absolute;
  font-family: 'Roboto Mono';
  width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
  transform: translate(-50%, -50%);
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  background-color: indianred;
  color: white;
  text-align: center;
} */


/* #login-button{
  display: block;
  left: 50%;
  top: calc(60% + 2rem);
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  background: #f2f2f2;
  font-family: 'Roboto Mono';
  box-shadow: grey 3px 3px 3px;
  border-style: solid;
  padding: calc(8px + 11 * ((100vw - 300px) / (1600 - 300)));
} */

#login-button {
  left: 50%;
  width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
  position: relative;
  transform: translate(-50%, -50%);
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  background: #f2f2f2;
  font-family: 'Roboto Mono';
  box-shadow: grey 3px 3px 3px;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  padding: calc(8px + 11 * ((100vw - 300px) / (1600 - 300)));
}


.hide{
  display: none;
}
/* 
.flip{
  transform: rotateY(180deg);
} */

#persona-container{
  bottom: 0;
  left: calc((var(--vw, 1vw) * 50) - (var(--vh, 1vh) * 25 * 0.9));
  width: auto;
  font-size: calc(40px + 32 * ((100vw - 300px) / (1300 - 300)));
  /* font-size:  calc((var(--vw, 1vw) * 25) - (var(--vh, 1vh) * 12.5 * 0.63)); */
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
  /* transform: translate( calc(50vh * 0.4 * -1), calc(16px + 11 * ((100vw - 300px) / (1300 - 300)))); */
}

#persona-text-container{
  position: absolute;
  border-style: solid;
  text-align: center;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: var(--vmin) ;
  bottom: 0;
  width: calc(50vh * 0.9 * 0.7);
  width: calc(var(--vh, 1vh) * 50 * 0.63);
  left: calc((var(--vw, 1vw) * 50) - (var(--vh, 1vh) * 25 * 0.63));
  background: #f2f2f2;
  padding: 10px;
  font-size: 1rem;
  z-index: 3;
}

#persona-text-container:before {
  border: 0.5em solid transparent;
  border-right-color: black;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 0;
  height: 0;
  transform: translate(0, -50%);
}
#persona-text-container:after {
  border: 0.5em solid transparent;
  border-right-color: #f2f2f2;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 50%;
  left: calc(0.5px + 2 * ((100vw - 300px) / (1600 - 300)));
  width: 0;
  height: 0;
  transform: translate(0, -50%);
}

#persona-text{
  padding-bottom: calc(4px + 11 * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(8px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#persona-button{
  background-color: #ffe573;
  box-shadow: darkgrey 3px 3px 3px;
  border-style: none;
  border-radius: calc(var(--vmin) * 0.5);
  width: 100%;
  font-size: calc(8px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  height: calc(12px + 33 * ((100vw - 300px) / (1600 - 300)));
}

#persona-button.inactive{
  opacity: 0.3;
  background-color: lightgray;
  box-shadow: none;
} 

#content-container{
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ffe573;
  z-index: 4;
  text-align: center;
  opacity: 1;
  transition: linear 200ms;
}

#content-container.fade{
  opacity: 0;
  transition: linear 300ms;
}

#content-title-container{
  height: 30%;
}

#content-header{
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  /* margin: 1.2rem; */
  /* height: 2rem; */
  margin: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#content-class{
  font-size: calc(10px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  /* margin: 1rem; */
  /* height: 1.5rem; */
  margin-top: calc(5px + 11 * ((100vw - 300px) / (1600 - 300)));
  margin-bottom: (10px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
}

#content-image-container{
  width: calc(30vh - 61px - 121 * ((100vw - 300px) / (1600 - 300)));
  width: calc(var(--vh, 1vh) * 30 - 61px - 121 * ((100vw - 300px) / (1600 - 300)));
  height: calc(30vh - 61px - 121 * ((100vw - 300px) / (1600 - 300)));
  height: calc(var(--vh, 1vh) * 30 - 61px - 121 * ((100vw - 300px) / (1600 - 300)));
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: var(--vmin);
  overflow: hidden;
}

#content-image{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#content-close{
  position: absolute;
  right: 0px;
  margin: 0;
  padding: 1rem;
}


#content-box-container.fade{
  height: 50%;
  /* width: 60%; */
  width: calc(90vw - 10px - (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  max-width: 60vh;
  max-width: calc(var(--vh, 1vh) * 60);
  display: flex;
  justify-content: center;
  align-content: center;
  transition: linear 300ms;
  opacity: 0;
}

#content-box-container{
  height: 50%;
  /* width: 60%; */
  width: calc(90vw - 10px - (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  max-width: 60vh;
  max-width: calc(var(--vh, 1vh) * 60);
  display: flex;
  justify-content: center;
  align-content: center;
  transition: linear 300ms;
}

#content-box{
  background: #f2f2f2;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  border-radius: var(--vmin);
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  position: relative;
}

#content-box:before {
	border: 1em solid transparent;
	border-top-color: black;
	content: '';
	margin-left: -1em;
  position: absolute;
  /* transform: translateX(-0.5em); */
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}
#content-box:after {
	border: 1em solid transparent;
	border-top-color: #f2f2f2;
	content: '';
	margin-left: -1em;
  position: absolute;
  /* transform: translateX(-0.5em); */
		top: calc(100% - 0.5px - 2 * ((100vw - 300px) / (1600 - 300))); 
		left: 50%;
	width: 0;
	height: 0;
}

#content{
  padding: calc(12px + (30 - 8) * ((100vw - 300px) / (1300 - 300)));
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1300 - 300)));
  overflow-y: scroll;
  max-width: 100%;
  max-height: calc(100% - (var(--vmin) * 4));
}

#content-social{
  margin: 1rem;
  padding: 0%;
  max-height: 100%;
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  list-style-type: none;
}

#content-instruction-container{
  display: block;
  bottom: 0;
  font-size: var(--vmin);
  font-style: italic;
  position: absolute;
  width: calc(100% - 2 * var(--vmin));
  border-top-style: ridge;
  background: #f2f2f2;
  color: gray;
  border-bottom-left-radius: inherit; 
  border-bottom-right-radius: inherit; 
  padding: var(--vmin);
  transition: ease-in 1000ms;
}

.content-img{
  max-width: 100%;
  max-height: calc(var(--vh) * 20);
}

#content-instruction-container.fade{
  color: #f2f2f2;
  transition: ease-in 1000ms;
}


#content-lenses-container{
  width: 90%;
  max-width: calc(60vh * 0.9);
  max-width: calc(var(--vh, 1vh) * 60 * 0.9);
  height: 20%;
}

#content-social-chatbox {
  display: block;
  left: 50%;
  position: relative;
  font-family: 'Roboto Mono';
  width: 80%;
  transform: translate(-50%, -50%);
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  background-color: #f2f2f2;
  color: black;
  margin-bottom: calc(16px + 22 * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.content-social-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}

.username {
  color: #666;
  font-size: 0.5em;
  margin: 0 0 0.15em 0;
}

.text {
  color:black;
  font-size: 0.75em;
  margin: 0 0 0.15em 0;
}

#content-social-button{
  width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
  position: relative;
  transform: translate(-50%, -50%);
  font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  background: #f2f2f2;
  font-family: 'Roboto Mono';
  box-shadow: grey 3px 3px 3px;
  border-style: solid;
  border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
  padding: calc(8px + 11 * ((100vw - 300px) / (1600 - 300)));
}


.carousel {
  display: flex;
}


.carousel-cell{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30vw;
  height: calc(13vh + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  height: calc(var(--vh, 1vh) * 13 + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  left: 50%;
  /* border-radius: 5px; */
  align-content: center;
  justify-content: center;
}

.carousel-cell.center {
  left: 50%;
  opacity: 1;
  transform: translate(-50%,0);
  transition: linear 300ms;
  font-size: 2rem;
  z-index: 2;
}

.carousel-cell.right {
  z-index: 3;
  opacity: 0.1;
  transform: translate(50%,0);
  transition: linear 300ms;
}

.carousel-cell.left {
  opacity: 0.1;
  transform: translate(-150%,0);
  transition: linear 300ms;
}

.carousel-cell-emoji.center {
  /* font-size: 5rem; */
  
  font-size: calc(11vh + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(var(--vh, 1vh) * 11 + (30 - 8) * ((100vw - 300px) / (1600 - 300)));

  transition: linear 300ms;
}

.carousel-cell-emoji.left, .carousel-cell-emoji.right{
  /* font-size: 1rem; */
  font-size: calc(8px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  transition: linear 300ms;
}

.carousel-cell-title.center {
  /* font-size: 2rem; */
  font-size: calc(12px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  transition: linear 300ms;
}

.carousel-cell-title.left, .carousel-cell-title.right{
  /* font-size: 1rem; */
  font-size: calc(8px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
  transition: linear 300ms;
}



