html, body {
    margin: 0;
    padding: 0;
  /*   font-family : --font-family-sans-serif; */
    
  }
  canvas {
    display: block;
  }
  
  /* #title-container{
    background: whitesmoke;
  } */
  #title{
    text-align: center;
    font-family : arial san-serif;
  }
  
  #wheel-button{
    border-style: solid;
    background: gold;
    text-align: center;
  }
  
  #canvas-container{
    height: calc(50 * var(--vmax));
    width: calc(50 * var(--vmax));
  }
  
  #content-container{
    position: relative;
    border-style: solid;
  }
  
  #content-timer{
    position: absolute;
  }

  #play-container,#timer-container{
      position: relative;
      width: calc(100 * var(--vmax) / 3);
      height: calc(100 * var(--vmax) / 3);
  }

  .icon{
      font-size: 4rem;
  }

  .label{
      position: absolute;
  }
  