html, body {
    margin: 0;
    padding: 0;
  /*   font-family : --font-family-sans-serif; */
    font-family: 'Roboto'
  }
  canvas {
    display: block;
  }
  
  /* #title-container{
    background: whitesmoke;
  } */
  #title{
    text-align: center;
    font-family : arial san-serif;
  }
  
  #canvas-container{
    overflow: hidden;
    height: calc(100 * var(--vmin) - 5rem);
    width: calc(100 * var(--vmin) - 5rem);
    border-style: solid;
    box-sizing: border-box;
    display: inline-flex;
    vertical-align: bottom;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #wheel-canvas{
    position: absolute;
  }

  #sidebar-container{
    overflow: hidden;
    height: calc(100 * var(--vmin) - 5rem);
    width: calc(100vw - 100 * var(--vmin) + 3rem);
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    position: absolute;
  }

  #wheel-config-container{
      width: 100%;
      height: 100%;
      transition: 1000ms;
      border-left-style: solid;
      background: whitesmoke;
      display: flex;
      flex-direction: column;
      position: relative;
  }

  #wheel-config-preset-container{
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    border-bottom-style: solid;
    background: whitesmoke;
    display: flex;
}

  .pill{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-right-style: solid;
    transition: ease-in 300ms;
  }

  .pill:hover{
    background: indianred;
  }

  .pill:last-child{
    border-right-style: none;
  }

  #wheel-config-list-container{
    width: 100%;
    height: 60%;
    border-bottom-style: solid;
    border-top-style: solid;
    background: whitesmoke;
    position: relative;
    display: flex;
    vertical-align: bottom;
  }
  #wheel-config-list-included-container{
    width: 50%;
    border-right-style: solid;
    position: relative;
  }

  #wheel-config-list-excluded-container{
    width: 50%;
    border-left-style: solid;
    position: relative;
  }

  .config-list-container:first-child{
    margin-top: calc(30px + 1em);
  }

  .config-list-container{
    display: flex;
    position: relative;
    background: lightgray;
  }
  
  .config-list-control{
    float: right;
    fill: darkgray;
    font-size: small;
  }
  

  #wheel-config-save-container{
    cursor: pointer;
    width: 100%;
    height: 20%;
    border-top-style: solid;
    background: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wheel-config-container.hidden-right{
    transform: translate(100%,0);
}
  
  #content-container{
    position: relative;
    border-style: solid;
    width: calc(100vw - 2rem);
    height: calc(100vh - 5rem);
    left: 1rem;
    top: 1rem;
    background: whitesmoke;
  }
  
  #content-timer{
    position: absolute;
  }

  #instruction-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 67%;
    display: flex;
    vertical-align: bottom;
    border-style: solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

  #instruction{
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
  }

  #control-container{
    overflow: hidden;
    width: 100%;
    position: relative;
    border-style: solid;
    box-sizing: border-box;
    height: 33%;
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    align-items: center;
  }

  #play-container,#timer-container,#restart-container{
    background: whitesmoke;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    vertical-align: bottom;
  }

  #play-container.hidden,#timer-container.hidden,#restart-container.hidden{
    display: none;
  }

  #timer-container{
    border-right-style: solid;
  }

  #play-container{
    border-left-style: solid;
    border-right-style: solid;
  }

  #restart-container{
    border-left-style: solid;
  }

  #spin-container{
    background: whitesmoke;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border-style:solid;
  }

  #spin-container.hidden{
    display: none;
  }

  .icon{
      font-size: 3rem;
  }

  .label{
      position: absolute;
      padding: 10px;
      left: 0;
      top: 0;
  }
  .label-right{
    position: absolute;
    padding: 10px;
    font-size:small;
    color: gray;
    right: 0;
    top: 0;
}

.label-right:hover{
        color: black;
    }
  
  #content-top-container,#content-control-container{
      display: flex;
  }

  #nav-container{
    width: calc(100vw - 2rem);
    bottom: 1rem;
    position: absolute;
    left: 1rem;
  }

  .nav-brand{
      font-weight: bold;
      color: black;
  }

  .nav-link{
      float: right;
      color: gray;
      transition: 1s;
      margin-left: 1rem;
  }

  .nav-link:hover{
    color: black;
}


.transition-canvas{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1000ms;
    background: rgb(29, 29, 29);
}

.transition-canvas.hidden-left{
    /* display: none; */
    transform: translate(-100%,0);
}

.transition-canvas.hidden-right{
    /* display: none; */
    transform: translate(100%,0);
}
  