html, body {
    margin: 0;
    padding: 0;
  /*   font-family : --font-family-sans-serif; */
    font-family: 'Roboto'
  }
  canvas {
    display: block;
  }
  
  /* #title-container{
    background: whitesmoke;
  } */
  #title{
    text-align: center;
    font-family : arial san-serif;
  }
  
  #canvas-container,#instruction-container{
    height: calc(48 * var(--vmax));
    width: calc(48 * var(--vmax));
    border-style: solid;
    display: inline-flex;
    vertical-align: bottom;
    justify-content: center;
    align-items: center;
  }
  
  #content-container{
    position: relative;
    border-style: solid;
    width: calc(100vw - 4 * var(--vmax));
    height: calc(100vh - 4 * var(--vmax) - 2rem);
    left: calc(2 * var(--vmax));
    top: calc(2 * var(--vmax));
  }
  
  #content-timer{
    position: absolute;
  }

  #play-container,#timer-container,#restart-container{
      position: relative;
      width: calc(96 * var(--vmax) / 3);
      height: calc(100vh - 4 * var(--vmax) - 2rem - 48 * var(--vmax));
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-style: solid;
      box-sizing: border-box;
      vertical-align: bottom;
  }

  .icon{
      font-size: 3rem;
  }

  .label{
      position: absolute;
      padding: 10px;
      left: 0;
      top: 0;
  }
  .label-right{
    position: absolute;
    padding: 10px;
    font-weight: lighter;
    fill: gray;
    right: 0;
    top: 0;
}
  
  #content-top-container,#content-bot-container{
      display: flex;
  }

  #nav-container{
    width: calc(96 * var(--vmax));
    bottom: 1rem;
    position: absolute;
    left: calc(2 * var(--vmax));
  }

  .nav-brand{
      font-weight: bold;
      color: black;
  }

  .nav-link{
      float: right;
      color: gray;
      transition: 1s;
      margin-left: 1rem;
  }

  .nav-link:hover{
    color: black;
}
  