
body 
{ 
  background-color: #f1f1f1;
  padding: 0; 
  margin: 0; 
}
/* img { padding: 0; margin: 0; } */

#question.style {
  top: 50%;
  right: 50%;
  position: absolute;
  transform: translate(50%, -50%);
}

::placeholder { 
  /* color: deeppink; */
  opacity: 0.4;
  font-size: 1em;
  /* text-transform: uppercase; */
}

.scroll_frame {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
}