html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


#canvas{
    width: 100%;
    height: 100%;
}

#login-container{
    display: block;
    width: 100%;
    height: 100%;
}

#login-title {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

#login-instruction{
    text-align: center;
    /* width: fit-content; */
    /* margin-left: auto;
    margin-right: auto; */
}

/* #slider{ */
    /* top: 15vh; */
    /* width: 60vw; */
    /* max-width: 60vmin; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem; */
/* } */

#slider{
    height: 100%;
}

#login-slider-left-container{
    position: absolute;
    width: 20%;
    left: 0%;
}

#login-slider-right-container{
    position: absolute;
    width: 20%;
    right: 0%;
}

#login-slider-arrow-left,#login-slider-arrow-right {
    position: absolute;
    top: 50%;
    width: 100%;
}


.slider-image {
    position: absolute;
    opacity: 1;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    translate: -50%;
}

/* .right,.left {
    opacity: 0;
    transition: ease-out;
    transition-duration: 240ms;
} */

.right{
    opacity: 0;
    transition: ease-out;
    transition-duration: 100ms;
    translate: 0%;
}

.left{
    opacity: 0;
    transition: ease-out;
    transition-duration: 100ms;
    translate: -100%;
}
    
#login-input, #login-button{
    display: block;
    width: 60%;
    height: 3rem;   
    border-width: 0.3rem; 
    border-color: black;
    text-align: center; 
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    box-sizing:border-box;
}
    
#login-button{
    /* font-family: 'Courier New', Courier, monospace;
    font-weight: 900; */
    fill: lightgrey;
}