body{
    margin: 0px;
    font-family: 'Roboto';
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#login-container{
    background-color: #ffe573;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    }

#login-title-container{
    display: block;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    font-size: calc(40px + (30 - 8) * ((100vw - 300px) / (1000 - 300)));
    font-weight: bold;
    text-align: center;
    }

#login-pin-input.no-error {
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
    color: black;
    font-family: 'Roboto Mono';
    transition-duration: 300ms;
    transition: ease-out;
    text-align: center;
    }
    
#login-pin-input {
    display: block;
    left: 50%;
    position: relative;
    font-family: 'Roboto Mono';
    width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
    transform: translate(-50%, -50%);
    font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
    background-color: indianred;
    color: white;
    margin-bottom: calc(16px + 22 * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }

#login-nickname-input {
    display: block;
    left: 50%;
    position: relative;
    font-family: 'Roboto Mono';
    width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
    transform: translate(-50%, -50%);
    font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
    background-color:  #f2f2f2;
    color: white;
    margin-bottom: calc(16px + 22 * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }

#login-button {
    left: 50%;
    width: calc(80px + 110 * ((100vw - 300px) / (1600 - 300)));
    position: relative;
    transform: translate(-50%, -50%);
    font-size: calc(16px + (30 - 8) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    background: #f2f2f2;
    font-family: 'Roboto Mono';
    box-shadow: grey 3px 3px 3px;
    border-style: solid;
    border-width: calc(0.75px + 2 * ((100vw - 300px) / (1600 - 300)));
    padding: calc(8px + 11 * ((100vw - 300px) / (1600 - 300)));
    }

#main-container{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
}


#user-container{
    z-index: 1;
    width: 20rem;
    height: 100%;
    position: absolute;
    top: 5rem;
    background: white;
    right: 0;
    transform: translate(20rem,0);
    border-left-style: none;
    transition: 1s;
}

#user-counter-container{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.user-list{
    display: flex;
    position: relative;
    justify-content: center;
}

.user-list-title{
    float: left;
}

.user-list-status{
    float: right;
}

#user-hide-container{
    position: absolute;
    padding: 5px;
    cursor: pointer;
    background: white;
    top: 50%;
    border-style: double;
    transform: translate(-100%, -50%);
}

#user-container.showuser{
    /* width: 20rem; */
    transform: translate(0,0);
    border-left-style: double;
}


#activity-container.showuser{
    /* width: calc(100% - 20rem); */
}

#activity-container{
    width: 100%;
    position: relative;
    transition: 1s;
}


#activity-title-container{
    position: relative;
    background: whitesmoke;
    width: 100%;
    height: 5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom-style: solid;
    border-color: darkgray;
    box-shadow: 0px 3px 3px lightgrey;
}

#activity-title{
    font-size: 1.5rem;
    width: 60%;
    font-family: 'Roboto';
    margin: auto;
    text-align: center;
    background: gainsboro;
}

#activity-instructions{
    font-size: 0.7rem;
    margin: 0 auto auto auto;
    text-align: center;
    padding: 0 1rem;
}

#activity-next{
    position: absolute;
    margin: 1rem;
    right: 0;
    transition: 300ms;
    color: black;
    cursor: pointer;
}

#activity-prev{
    position: absolute;
    margin: 1rem;
    left: 0;
    color: black;
    transition: 300ms;
    cursor: pointer;
}

#activity-next:hover,#activity-prev:hover{
    color: blue;
}

#activity-prev.inactive{
    color: lightgray;
    cursor: auto;
}

#canvas-container{
    width: 100vw;
    height: calc(100vh - 5rem);
}

#speech-bubble-container{
    display: flex;
    border-style: solid;
    justify-content: center;
    width: 100%;
    height: 100vw;
    align-items: center;
    border-radius: 50%;
}

#speech-bubble-container.float{
    transform: translate(0px, -110%);
    transition: 3s;
    color: white;
}


#speech-bubble{
    display: flex;
    font-family: cursive;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    width: 70%;
    height: 70%;
    padding: 1rem 0 0rem 0;
}

.bubble-container{
    cursor: pointer;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.bubble-close{
    opacity: 1;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    background: lightgray;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: 300ms;
    font-size: large;
}

.bubble-close.hidden{
    opacity: 0;
}

.bubble{
    overflow: auto;
    font-size: small;
    /* transform: translate(-50%,-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.bubble.expanded{
    font-size: x-large;
}

.bubble:focus{
    outline:none;
}

.circular{
    border-radius: 50%;
}

.bubble-image{
    object-fit: cover;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.bubble-title{
    position: absolute;
    top: 0;
    background: whitesmoke;
    font-size: x-large;
}

/* #anon-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background: lightgray;
    box-shadow: 1px 1px 1px lightgray;
    transition: 300ms;
    cursor: pointer;
} */
/* 
#anon-container.inactive{
    background: lightgray;
    box-shadow: none;
    opacity: 0.7;
    transform: translate(0,5rem);
} */

#anon-container.active,#pause-container.active{
    box-shadow: 3px 3px 3px lightgray;
    background: lightsalmon;
    transform: translate(0,-2px);
}

#anon-container:hover{
    box-shadow: 3px 3px 3px lightgray;
    background: lightsalmon;
    transform: translate(0,-2px);
}

#archive-container,#anon-container,#clear-container,#pause-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background: lightgray;
    box-shadow: 1px 1px 1px lightgray;
    transition: 300ms;
    cursor: pointer;
}

#archive-container{
    right: 1rem;
    bottom: 1rem;
}

#anon-container{
    left: 5rem;
    bottom: 1rem;
    font-size: small;
}

#clear-container{
    right: 5rem;
    bottom: 1rem;
    font-size: small;
}

#pause-container{
    left: 1rem;
    bottom: 1rem;
    font-size: small;
}

#archive-container.inactive,#clear-container.inactive,#anon-container.inactive,#pause-container.inactive{
    background: lightgray;
    box-shadow: none;
    opacity: 0.7;
    transform: translate(0,5rem);
}

#archive-container:hover,#clear-container:hover,#pause-container:hover{
    box-shadow: 3px 3px 3px lightgray;
    background: lightsalmon;
    transform: translate(0,-2px);
}



