html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-y: contain;
  }

body {
    margin: 0;
    display: block;
  }

li {
  list-style-type: none;
}

#menu-container{
    display: inline-flex;
    width: 100%;
    height: 5%;
}

#collect-container,#train-container,#embed-container{
  display: block;
  width: 100%;
  height: 95%;
}

#class-container{
  display: inline-flex;
  width: 100%;
  height: 5%;
}

#class-select, #class-input{
  width: calc(200%/3);
  outline: 2px solid lightgray;
}

#class-select{
  text-align-last: center;
}

#class-input{
  box-sizing:border-box;
}

#class-add-button, #class-edit-button, #class-remove-button{
  width: calc(100%/9);
}

#class-submit-button{
  width: calc(100%/3);
}

#canvas-container{
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

#video{
  width: 85%;
  height: 85vw;
  max-width: calc(60vh * 0.85);;
  max-height: calc(60vh * 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

#canvas{
  width: 85%;
  height: 85vw;
  max-width: calc(60vh * 0.85);;
  max-height: calc(60vh * 0.85);
  position: absolute;
  z-index: -1;
}

#canvas-camera-change{
  position: absolute;
  left: 2rem;
  width: 50px;
  height: 50px;
}

#canvas-camera-flip{
  position: absolute;
  right: 2rem;
  width: 50px;
  height: 50px;
}


#image-sample-container{
  display: inline-flex;
  /* justify-content: center; */
  width: 100%;
  height: calc(20% - 1.5rem);
  overflow-x: scroll;
}
#image-sample-counter{
  width: 100%;
  height: 1.5rem;
  text-align: center;
}
.image-sample-list{
  display: inline-flex;
  padding: 1px;
  padding-inline-start: 0px;
}

.sample-list{
  padding-right: 5px;
  border-radius: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-list-image{
  width: 100px;
  height: 100px;
  display: flex;
}

.class-sample-list-label{
  padding-top: 100px;
  position: absolute;
  width: 100px;
  height: 100px;
}

.class-sample-list-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}

.sample-list-remove{
  position: absolute;
  font-size: 3rem;
  color: white;
}


.removed{
  opacity: 0;
  transition: linear;
  transition-duration: 200ms;
}


#collect-button-container{
  display: inline-flex;
  width: 100%;
  height: 15%;
}

#menu-collect-button, #menu-train-button, #menu-embed-button, #record-button, #setting-button, #upload-button{
  width: calc( 100% / 3 );
}

#record-button{
  font-size: 2rem;
}

#setting-button, #upload-button{
  font-size: 1.5rem;
}

#class-sample-container{
  height: 80%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin: 0;
  align-content: start;
  padding: 1rem;
}

#training-button{
  width: 100%;
  height: 15%;
}


button {
  display: inline-block;
  border: lightgray;
  outline: 2px solid lightgray;
  margin: 0;
  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: lightgray;
}

button:active {
  transform: scale(0.99);
}


.class-selected{
  opacity: 0.5;
  transition: linear;
  transition-duration: 100ms;
}
