html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-y: contain;
  }

body {
    margin: 0;
    display: block;
  }

#menu-container{
    display: inline-flex;
    width: 100%;
    height: 5%;
}

#class-container{
  display: inline-flex;
  width: 100%;
  height: 5%;
}

#menu-collect-button, #menu-train-button, #menu-embed-button, #record-button, #setting-button, #upload-button{
  width: calc( 100% / 3 );
}


#collect-container{
    display: block;
    width: 100%;
    height: 90%;
}

