html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-y: contain;
  }

body {
    margin: 0;
    display: block;
  }

li {
  list-style-type: none;
}

#menu-container{
    display: inline-flex;
    width: 100%;
    height: 5%;
}

#collect-container{
  display: block;
  width: 100%;
  height: 95%;
}

#class-container{
  display: inline-flex;
  width: 100%;
  height: 5%;
}

#class-select, #class-input{
  width: calc(200%/3);
}

#class-select{
  text-align-last: center;
}

#class-input{
  box-sizing:border-box;
}

#class-add-button, #class-edit-button, #class-remove-button{
  width: calc(100%/9);
}

#class-submit-button{
  width: calc(100%/3);
}

#canvas-container{
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
}

#canvas{
  width: 85%;
  height: 85vw;
  max-width: calc(60vh * 0.85);;
  max-height: calc(60vh * 0.85);
}

#canvas-camera-flip{
  position: relative;
  color: white;
  right: 2rem;
  top: calc(-50% + 3rem);
  font-size: 2rem;
}

#image-sample-container{
  display: inline-flex;
  /* justify-content: center; */
  width: 100%;
  height: calc(20% - 1.5rem);
  overflow-x: scroll;
}
#image-sample-counter{
  width: 100%;
  height: 1.5rem;
  text-align: center;
}
.image-sample-list{
  display: inline-flex;
  padding: 1px;
}

.sample-list{
  padding-right: 3px;
  border-radius: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sample-list-image{
  width: 100px;
  height: 100px;
}

.sample-list-remove{
  position: absolute;
  font-size: 3rem;
  color: white;
}


.removed{
  opacity: 0;
  transition: linear;
  transition-duration: 200ms;
}


#collect-button-container{
  display: inline-flex;
  width: 100%;
  height: 15%;
}

#menu-collect-button, #menu-train-button, #menu-embed-button, #record-button, #setting-button, #upload-button{
  width: calc( 100% / 3 );
}

#record-button, #setting-button, #upload-button{
  font-size: 2rem;
}


